{% extends 'sidebar_base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-5 offset-lg-3">
            <div class="my-4">
                <form method="post" enctype="multipart/form-data" class="form-row">
                    {% csrf_token %}
                    <span class="col-12 py-0 mb-1 mt-0">{{ form.email.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ form.email }}</span>
                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.first_name.label }}</span>
                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.last_name.label }}</span>
                    <span class="col-6  mb-2 py-0">{{ profile_form.first_name }}</span>
                    <span class="col-6 mb-2 py-0">{{ profile_form.last_name }}</span>

                    <span class="col-12 py-0 mb-1 mt-0">{{ profile_form.user_pic.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ profile_form.user_pic }}</span>

                    <span class="col-12 py-0 mb-1 mt-0">{{ profile_form.phone_number.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ profile_form.phone_number }}</span>

                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.birth_date.label }}</span>
                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.user_gender.label }}</span>
                    <span class="col-6 mb-2 py-0">{{ profile_form.birth_date }}</span>
                    <span class="col-6 mb-2 py-0">{{ profile_form.user_gender }}</span>

                    <span class="col-12 py-0 mb-1 mt-0">{{ profile_form.location.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ profile_form.location }}</span>

                    <span class="col-12 py-0 mb-1 mt-0">{{ profile_form.bio.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ profile_form.bio }}</span>

    {#        {{ form.as_p }}#}
    {#        {{ profile_form.as_p }}#}


    {#            <table>#}
    {#        {{ form.as_table }}#}
    {#        {{ profile_form.as_table }}#}
    {#        </table>#}
                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                </form>
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock %}
