{% extends 'base_sidebar_counseller.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 offset-lg-3 card">
            <div class="my-4">
                <form method="post" enctype="multipart/form-data" class="form-row">
                    {% csrf_token %}
                    <span class="col-12 py-0 mb-1 mt-0">{{ form.email.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ form.email }}</span>

                    <span class="col-12  mb-2 mt-2 py-0">
                        <a href="{% url 'accounts:account_change_password' %}" class=" btn btn-dark" style="font-size: 13px">
                            Change Password
                        </a>
                    </span>


                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.first_name.label }}</span>
                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.last_name.label }}</span>
                    <span class="col-6  mb-2 py-0">{{ profile_form.first_name }}</span>
                    <span class="col-6 mb-2 py-0">{{ profile_form.last_name }}</span>

                    <span class="col-12 py-0 mb-1 mt-0">Profile Picture</span>
                    <span class="col-12 mb-2 py-0">{{ profile_form.c_pic }}</span>

                  <!--  <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.c_available_day_start.label }}</span>
                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.c_available_day_end.label }}</span>
                    <span class="col-6 mb-2 py-0">{{ profile_form.c_available_day_start }}</span>
                    <span class="col-6 mb-2 py-0">{{ profile_form.c_available_day_end }}</span>

                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.c_available_time_start.label }}</span>
                    <span class="col-6 py-0 mb-1 mt-0">{{ profile_form.c_available_time_end.label }}</span>
                    <span class="col-6 mb-2 py-0">{{ profile_form.c_available_time_start }}</span>
                    <span class="col-6 mb-2 py-0">{{ profile_form.c_available_time_end }}</span>



                    <span class="col-6 mb-2 py-0">{{ profile_form.c_preferred_medium.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ profile_form.c_preferred_medium }}</span>

                    <span class="col-12 py-0 mb-1 mt-0">{{ profile_form.c_experience.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ profile_form.c_experience }}</span>-->

                    <span class="col-12 py-0 mb-1 mt-0">{{ profile_form.c_bio.label }}</span>
                    <span class="col-12 mb-2 py-0">{{ profile_form.c_bio }}</span>


                    {# {{ form.as_p }}#}
                    {# {{ profile_form.as_p }}#}


                    <table>
                        {# {{ form.as_table }}#}
                        {# {{ profile_form.as_table }}#}
                    </table>
                    <button type="submit" class="btn btn-primary mt-3 mb-3 mb-sm-0 pt-0 pb-1" style="width: fit-content; font-size: 14px">Update</button>
                </form>
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock %}
