{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Social-Media</title>
      <link rel="stylesheet" href={% static "css/style.css"%}>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'main:home' %}" id="two">Star Social</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:about' %}">
          AboutUs
        </a>
      </li>
    </ul>

    {% if user.is_authenticated %}

   <ul class="navbar-nav navbar-right">

       <li>
         <li class="nav-item" style="color:white">
             Hi, {{ user.username }}</li>&nbsp;&nbsp;&nbsp;

        <a href="#" style="color:white">Your Profile</a>
        </li>&nbsp;&nbsp;&nbsp;

      <li class="nav-item active">
    <strong><li class="dropdown"><a class="dropdown-toggle" style="color:white" id="link" data-toggle="dropdown" href="#">Group <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li id="post1"><a href="{% url 'groups:all' %}">All Groups</a></li>
          <li id="post1"><a href="{% url 'groups:create' %}">New Group</a></li>
        </ul></strong>
      </li></li>&nbsp;&nbsp;
      <strong><li class="dropdown"><a class="dropdown-toggle" id="link" style="color:white" data-toggle="dropdown" href="#">Post <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li id="post1"><a href="{% url 'posts:all' %}">All Posts</a></li>
        <li id="post1"><a href="{% url 'posts:create' %}">New Post</a></li>
        </ul></strong>
      </li>
      <li>
      <a class="nav-link btn sign-btn py-1 px-3 d-inline" style="font-size: 14px"
             href="{% url 'accounts:logout' %}">Logout</a>
      </li>
    </ul>
      {% else %}
     <ul class="navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'groups:all' %}" id="one">
        Groups
          </a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url "account_login"%}" id="one">
         Login
          </a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url "account_signup"%}" id="one">
         Sign up
          </a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
<td class="tdStyle">

{% block content %}

{% endblock %}
<td>
  </body>
</html>
